@import url(https://fonts.googleapis.com/css?family=Monda&subset=latin-ext,latin);

*{
    font-family: 'Monda', sans-serif;
    font-weight: 900;
    text-decoration: none;
    transition:all 0.7s;
}

body{
    text-decoration: none;
    overflow:hidden;
    width:99%;
    height:100%;
    background-color:#f2f2f2;
    border:1px solid none;
}

#block{
    border: 1px solid transparent;
    height: 100px;
    display: none;
    z-index: 1;
}

#navContainer{
    opacity: 0.7;
    text-align: center;
    box-sizing:border-box;
    position: absolute;
    height:100px;
    left:0px;
    right:0px;
    top:0px;
    bottom: 0px;
    z-index: -1;
}


#navContainer:hover{
    opacity: 1;
}


#navbar{
    list-style:none;
    border:1px solid none;
    text-align:center;
    padding:10px;
}


#navbar div{
    padding: 4px;
    font-size:17px;
    text-align:center;
    display:inline-block;
    margin:25px;
    cursor:pointer;
}


#navbar div img{
    border:1px solid none;
    width:90px;
    height:50px;
    margin-top:-17px;
}


#img{
    float:left;
}


#navbar div a{
   color:#222222;
}


#navbar div a:hover{
   color:#ee4b3e;
}


#navbar div:hover{
    color:#ee4b3e;
    transform:rotateZ(4deg);
}


.contact{
  color:#ee4b3e;
  float:right;
}


#Scndnavbar{
    display: none;
    z-index: 1;
}


#Scndnavbar{
    list-style:none;
    border:1px solid none;
    text-align:center;
    padding:10px;
}


#Scndnavbar ul li{
    border: 2px dotted #222222;
    font-size:20px;
    text-align:center;
    margin:5px;
    margin-right:70px;
    padding: 10px;
    cursor:pointer;
    z-index: 1000000;
    list-style: none;
    display: none;
    font-weight: 900;
}


#Scndnavbar ul a li{
   color:#222222;
}


#Scndnavbar ul a li:hover{
   color:#ee4b3e;
}


#Scndnavbar ul li:hover{
    color:#ee4b3e;
    transform:rotateZ(1deg);
}


#welcomeContainer{
    text-align:center;
    border:1px solid none; 
    height:100%; 
    height:85.5%; 
    position:absolute;
    left:0px;  
    top:100px;
    bottom:0px;
    right:0px;
    margin:auto;
    z-index: -100;
}


#welcome{
    text-align:center;
    border:1px solid none;
    width:800px;
    height:110px;
    font-size:100px;
    color:#1fda9a;
    position:absolute;
    left:0px;
    top:-280px;
    bottom:0px;
    right:0px;
    margin:auto;
}


#welcome p{
    font-size:20px;
    color:#222222;
}


#welcome p span{
    font-weight:900;
    color:#1fda9a;
    cursor:pointer; 
}


#welcome p span:hover{
    color:red;
    transform:rotateZ(4deg);
}


#amContainer{
    text-align:center;
    border:1px solid none;
    height:100%;  
    height:86.9%; 
    position:absolute;
    z-index: 0;
    left:0px;
    top:100px;
    bottom:0px;
    right:0px;
    margin:auto;
    display:none;
}


#am{
    text-align:center;
    border:1px solid none;
    width:800px;
    height:110px;
    font-size:100px;
    color:#1fda9a;
    position:absolute;
    left:0px;
    top:-280px;
    bottom:0px;
    right:0px;
    margin:auto;
}


#am p{
    font-size:20px;
    color:#222222;
    margin-top:-1px;
    width: 800px;
}


#am p a{
    font-size:20px;
    font-weight:900;
    color:#1fda9a;
    text-decoration:none;
}


#am p a:hover{ 
    transform: rotateZ(5deg); 
    color:#ee4b3e;
    text-decoration:none;
}


#skillsContianer{
    text-align:center;
    border:1px solid none;
    height:100%; 
    position:absolute;
    left:0px;
    top:0px;
    bottom:0px;
    right:0px;
    margin:auto;
    display:none;
    z-index: -2;
}


#skills{
    text-align:center;
    border:1px solid none;
    width:700px;
    height:410px;
    position:absolute;
    left:0px;
    top:120px;
    bottom:0px;
    right:0px;
    margin:auto;
    border:1px solid none;
}


#skills h1{
    color:#ee4b3e; 
    text-align:center;
    text-shadow: 4px 1px 10px none;
    position:absolute;
    left:0px;
    height:80px;
    font-size:40px;
    font-weight:bold;
    top:-430px;
    bottom:0px;
    right:0px;
    margin:auto;
}


.skillType{
    text-align:center;
    display:inline-block;
    background-color:#1fda9a; 
    color:#f2f2f3;
    border: 2px solid none;
    width:60px;
    height:60px;
    padding:40px;
    margin:15px ; 
    margin-top:20px;  
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}


.skillType p{
    font-size:11px;
}


.skillType:hover{
    color:#1fda9a;
    border: 1px solid none;
    background-color:#444444;
}


#aboutSkill{
    color:#444444;
    border:1px inset none;
    float:left;
    margin-left:17px;
    width:100px;
    height:26px;
}


#abotMeContainer{
    text-align:center;
    border:1px solid none; 
    position:absolute;
    left:0px;  
    top:0px;
    bottom:0px;
    right:0px;
    margin:auto;
    display: none;
}


#abotMe{
    position:absolute;
    left:0px;  
    top:0px;
    bottom:0px;
    right:0px;
    margin:auto;
    border:1px solid none;
    color:#1fda9a;
    font-size:30px; 
}

#abotMe h1{
    font-size: 65px;
    border: 1px solid none;
    width: 300px;
    height:80px;
    position:absolute;
    left:0px;  
    top:0px;
    bottom:0px;
    right:0px;
    margin:auto;
}


.aboutMe{
    color:#f2f2f3;
    background-color:#222222;
    position: absolute;
    text-align: center;
    width:120px;
    height: 120px;
}


.aboutMe:hover{
    color:white;
    background-color:#1fda9a;
    cursor: pointer;
    transform:rotateZ(6deg);
}


.about{
    color:white;
    background-color:#1fda9a;
    position: absolute;
    text-align: center;
    width:120px;
    height: 120px;
}



#span{
    font-size: 20px;
    width: 100px;
    height:50px;
    position: absolute;
    top: 10px;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
}


#abotMe p{
    border: 1px solid none;
    font-size:32px;
    color:#222222;
    position:absolute;
    left:0px;  
    top:200px;
    bottom:0px;
    right:0px;
    margin:auto;
    font-weight: 900;
}


#abotMe p a:hover{
    transform:rotateZ(180deg);
    color:#1fda9a;
}


#abotMe p a{
    color:#ee4b3e;
}

#projectContainer{
    text-align:center;
    border:1px solid #222222;
    padding: 320px;
    position:absolute;
    left:0px;
    top:0px;
    bottom:0px;
    right:0px;
    margin:auto;
    display:none;
    z-index: -2;
    display: none;
}


.learnMore{
    font-weight:900;
    font-size:30px;
    color:#ee4b3e !important;
    text-decoration:none;
    cursor:pointer;
    border:1px dotted black;
    width:200px;
    height:42px;
    position:absolute;
    left:0px;
    top:490px;
    bottom:0px; 
    right:0px;
    margin:auto;
    border-radius:10px;
    z-index:1; 
}


.learnMore:hover{
    background-color:white;
    color:#1fda9a;
    text-decoration:none;
    transform:rotateZ(-4deg);
}


.learnMore a{
    color:#ee4b3e;
}


.learnMore a:hover{
    color:#1fda9a;
}


#leftNav{
    opacity:0.5;
    border:1px solid none;
    border-radius:100%;
    position:absolute; 
    width:60px;
    height:60px;
    left:0px;
    top:0px;
    bottom:0px;  
    right:90%;
    margin:auto;
    z-index: 5;
}


#rightNav{
    opacity:0.5;
    border:1px solid none;
    border-radius:100%;
    position:absolute;
    width:60px;
    height:60px;
    left:90%;
    top:0px;
    bottom:0px;  
    right:0;
    margin:auto;
    transform:rotateZ(180deg);
}


.sideNav:hover{
    width:70px !important;
    height:70px !important;
    cursor:pointer;
    opacity:0.9 !important;
}

#form{
    position: absolute;
    top:-100px;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    padding: 30px;
    width:500px;
    height: 400px;
    z-index: -1;
    display:none;
}


.contact_{
    border: 1px solid ;
    color:#1fda9a;
    display: block;
    padding: 20px;
    width:450px;
    height: 10px;
    margin-top:40px;
}


h1{
    color:#1fda9a;
    text-align: center;
}


#talk{
    height: 100px;
}


@media screen and (max-width: 780px) {
    #navbar{
        display: none;
    }

    #welcome{
        font-size:80px;
    }

    #Scndnavbar{
        display: block;
    }

    #Scndnavbar ul{
        color:white !important;
    }

    #navContainer{
        background-color:#1fda9a;
        opacity: 0.4;
    }

    #navContainer:hover{
        border: 1px solid transparent;
        background-color: #1fda9a;
        height: 300px;
        opacity:1;
    }

    .contact{
        color:white;
        float:none;
    }

    #am p{
        font-size: 15px;
        width: 760px;
    }
}
